@font-face {
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/IbarraRealNova-Bold.ttf);
}

@font-face {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/PublicSans-Regular.ttf);
}