.about {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
    &-description {
        margin-left: 125px;
        &-title {
            margin: 50px 0 28px 0;
        }
        &-text {
            width: 70%;
        }
        &-link {
            margin: 24px 0 46px 0;
        }
    }
}