.hero {
    height: 600px;
    margin-bottom: 75px;
    display: flex;
    align-items: flex-end;
    background: url(../../images/hero-1x.png) no-repeat;
    background-position: center;
    background-size: auto;
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        & {
            background: url(../../images/hero-2x.png) no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    &-description {
        width: 40%;
        padding: 56px 55px 0 0;
        background: #FAFAFA;
        &-title {
            width: 78%;
            margin-bottom: 48px;
            font-family: 'Ibarra Real Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357143px;
            color: #33323D;
        }
        &-before {
            padding: 18px 16px;
            width: 48px;
            height: 48px;
            margin: 0 -5px -21px 0;
            display: inline-block;
            background: url(../../images/hero-after.png) no-repeat;
            background-position: bottom;
            background-size: contain;
            background-color: #212f38;
        }
        &-link {
            padding-top: 17px;
            padding-bottom: 17px;
            padding: 17px 34px;
            display: inline-block;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 2px;
            text-decoration: none;
            color: #FFFFFF;
            background: #203A4C;
        }
    }
}